[Unit]
Description=Go Postfix Policy server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=postfix
Group=postfix
RuntimeDirectory=gopopo
RuntimeDirectoryMode=750
WorkingDirectory=/run/gopopo
ExecStart=/usr/sbin/gopopo
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gopopo

[Install]
WantedBy=multi-user.target
