[Unit]
Description=Go Postfix Policy server
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking
RuntimeDirectory=gopopo
RuntimeDirectoryMode=750
PIDFile=/run/gopopo/gopopo.pid
User=postfix
Group=postfix
ExecStart=/usr/sbin/gopopo
ExecStartPost=/bin/sleep 0.1
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
