#!/usr/bin/make -f

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	install -d debian/gopopo
	cd _build && mkdir -p ../debian/gopopo/usr/sbin
	cd _build && cp bin/gopopo ../debian/gopopo/usr/sbin
	mkdir -p debian/gopopo/etc/gopopo
	cp config/* debian/gopopo/etc/gopopo/

override_dh_strip:
override_dh_dwz:

#override_dh_auto_build:
#	cd _build && go install -x -trimpath -v -p 8 github.com/kresike/gopopo
